<div class="listingLink" href="/listing/{{id}}">
  {{#users}}
  <div class="id">
    <img src="{{avatar}}" >
    <p>{{name}}</p>
        {{job}}
        {{email}}
        {{phone}}
        {{university}}
  </div>
</div>
{{/users}}
